 <!--ユーザー登録ページ-->
<% provide(:title, "Sign up") %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--form_withヘルパーメソッド-->
    <!--form_withはデフォルトで“remote” XHR requestを送信しますが、ここではエラーメッセージをほぼ確実に表示するために通常の“local”フォームリクエストを送信したい-->
    <!--fの動きはUserモデルの各属性を設定し、ラベル付きテキストフィールド要素を作成するのに必要なHTMLを作成する-->
    <!--Active Recordによって自動生成されるメッセージを使う-->
    <%= form_with(model: @user, local: true) do |f| %>  
    
      <%= render 'shared/error_messages' %>  <!--app/views/shared -->
      
      <%= f.label :name %>　　　　　　　　　                <!--<label for="user_name">Name</label>-->
      <%= f.text_field :name, class: 'form-control' %>      <!--<input id="user_name" name="user[name]" type="text" />-->

      <%= f.label :email %>                                 <!--<label for="user_email">Email</label>-->
      <%= f.email_field :email, class: 'form-control' %>    <!--<input id="user_email" name="user[email]" type="email">-->

      <%= f.label :password %>                                 <!--<label for="user_password">Password</label>-->
      <%= f.password_field :password, class: 'form-control' %> <!--<input id="user_password" name="user[password]" type="password" />-->

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
